<!-- jobs.ejs -->
<h1><%= title %></h1><%

// render possible positions

// we have companies, noPositions and errors

// render companies
if (companies.length) {
	var totalPositions = 0
	companies.forEach(function (company) { totalPositions += company.positions.length })
	%>
	<h2>Available Positions</h2>
	<p>Total <%= totalPositions %> positions from <%= companies.length %> companies.</p>	
	<%
	companies.forEach(function (company) {
		var posList = company.positions
		if (posList.length) { %>
			<h3><a href="<%= company.url %>"><%= company.name %></a></h3>
			<ol><%

			// render open positions
			posList.forEach(function (position) { %>
				<li><a href="<%= position.url %>"><%= position.title %></a>
					<%= position.id %><%
				if (position.firstSeen) { %>
					&emsp;<%= new Date(position.firstSeen).toISOString().substring(0,10) %><%
				} %>
				</li><%
			}) %>
			</ol><%
		}
	})
}

// render companies without positions
if (noPositions.length) { %>
	<h2>Companies with No Open Positions</h2>
	<p>Entries: <%= noPositions.length %></p>
	<ol><%
	noPositions.forEach(function (company) { %>
		<li><a href="<%= company.url %>"><%= company.name %></a></li><%
	}) %>
	</ol><%
}

// render errors
if (errors.length) { %>
	<h2>Problems</h2>
	<p>Entries: <%= errors.length %></p>
	<ol><%
	errors.forEach(function (failure) { %>
		<li>Company name <%= failure.name %>: <%= failure.message %></li><%
	}) %>
	</ol><%
}%>